<!DOCTYPE html>
<html>
  <head>
    <title>CHAT ROOM</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href="stylesheets/main.css">
  </head>
  <body>
   <div class="container" style="height:900px;">
   	<div class="page-header"><%= title%></div>
   	<p class="lead">aaaaa123123123123123</p>
   </div>  
   <footer class="footer">
         <div class="container colordee" >
         	<div class="col-sm-10"><input type="text" class="form-control text-muted" placeholder="说些什么"></div>
         	<button class="btn btn-default col-sm-2 text-muted" type="submit">发送</button>
         </div>
    </footer>
  </body>
  <script src="bower_components/jquery/dist/jquery.min.js" ></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
  <script type="text/javascript">
  $(function  () {
  	
  });
  </script>
</html>