/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #dee;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #dee;
  border-top: 1px solid #d6d6d6;
  z-index: 5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  background-color: #fff;
}
.container .text-muted {
  margin: 10px 0;
}

.colordee{
  background-color: #dee;
}

.smsg,.username{
  font-size: 8px;
  font-weight: lighter;
  color: #ddd;
}

.usericon{
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 15px 0 0;
  opacity: 0.7;
}

.usermsg{
  font-size: 14px;
  font-weight: lighter;
  color: #000;
}

.msg{
  font-size: 13px;
  font-weight: lighter;
  color: #000;
}

